.main_back {
    position: absolute;
    border-radius: 10px;
    transform: rotate(90deg);
    width: 11em;
    height: 11em;
    background: linear-gradient(270deg, #03a9f4, #cc39a4, #ffb5d2);
    z-index: -2;
    box-shadow: inset 0px 0px 180px 5px #ffffff;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 10em; /* Adjusted for 4 icons */
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 10px; /* For square shape */
    background: rgba(0, 0, 0, 0.596);
    backdrop-filter: blur(5px);
    border: 1px solid transparent;
    -webkit-backdrop-filter: blur(5px);
    transition: 0.4s ease-in-out, 0.2s background-color ease-in-out, 0.2s background-image ease-in-out;
    border-color: white;
    border-width: 0.2px;
}

.card .instagram, .card .youtube, .card .linkedin, .card .facebook {
    opacity: 1;
    fill: black;
    transition: 0.2s ease-in-out;
}

.card:nth-child(1) .instagram {
    fill: rgb(202, 52, 53);
}

.card:nth-child(2) .youtube {
    fill: rgb(202, 52, 53); 
}

.card:nth-child(3) .linkedin {
    fill: rgb(202, 52, 53);
}

.card:nth-child(4) .facebook {
    fill: rgb(202, 52, 53);
}

.main:hover {
    width: 10em;
    cursor: pointer;
}

.main:hover .main_back {
    opacity: 0;
}

.main:hover .card {
    margin: 0.2em;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
}

.main:hover .instagram, 
.main:hover .youtube, 
.main:hover .linkedin, 
.main:hover .facebook {
    opacity: 1;
}

.card:nth-child(1):hover {
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C,#FD1D1D);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    border-radius: 50px;

}

.card:nth-child(1):hover .instagram {
    fill: white;
}

.card:nth-child(2):hover {
    background: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    
}


.card:nth-child(3):hover {
    background-color: #0077b5;
    border-radius: 50px;
    
}

.card:nth-child(3):hover .linkedin {
    fill: white;
    
}

.card:nth-child(4):hover {
    background-color: #3b5998;
    border-radius: 50px;
}

.card:nth-child(4):hover .facebook {
    fill: white;
}

.text {
    position: absolute;
    font-size: 0.7em;
    transition: 0.4s ease-in-out;
    color: black;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.33em;
    z-index: 3;
}
